body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    width: 100px;
    height: 100px;
    margin: 0.5px

}
.canto{
    border:2px solid black

}
.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
    margin: 0;
    border: 1px solid yellow; 
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}
